html, body {
    padding: 0;
    background-color: #f2f2f2;
    color: black;
}

.title {
    color: #960FF2;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

a {
    color: black;
}